.heart{
	position: relative;
	margin: 50px auto auto;
	width: 96px;
	height: 96px;
	transform: rotate(45deg);
}
.heart:before, .heart after{
	content: '';
	position: absolute;
	display: block;
	width: 56px;
}
.heart::before{
	bottom: 0;
	left: 0;
	height: 56px;
	border-radius: 28px 28px 0 28px;
	background-color: red;
	background: linear-gradient(-90deg, red, orange);
}
.heart::after{
	bottom: 0;
	right: 0;
	height:96px;
	border-radius: 28px 28px 0 0;
	background-color: orange;
	background: linear-gradient(red, orange);
}
body{
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: radial-gradient(#afa0a9,#fefefe);
}
.moving{
	animation: moving 5s linear infinite;

}
@keyframes moving{
	0%{
		margin-top: 0;
		transform: rotate(0deg) scale(1.07);

	}
	50%{
		margin-top: -20px;
	}
	100%{
		margin-top: 0;
		transform: rotateY(359deg);

	}
}
